:root {
    --primary-color: #363d70;
    --secondary-color: #f0f4fa;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/img/512.png");
    background-color: var(--secondary-color);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.3rem;
    user-select: none;
}

h1 {
    margin: 0;
}

#container {
    width: 100%;
    min-height: calc(100vh - 1rem);
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 1rem;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    input[type="date"] {
        padding: 0.5rem;
        background-color: var(--secondary-color);
        border-color: var(--primary-color);
        border-radius: 10px;
        font-size: 1.3rem;
    }
    a {
        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.checkbox-div {
    height: 50px;
    input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        background: var(--primary-color);
        
        &:checked {
            background: var(--primary-color);
        }
    }
}

.checkbox-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    .backup {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 0;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        a,
        label {
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.25rem;
            }
            &:link,
            &:active {
                color: var(--primary-color)
            }
            #importInput {
                display: none;
            }
        }
    }
}

.no-text {
    max-width: 300px;
    margin: 0 auto;
}

#updateReady {
    position: fixed;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    max-width: 600px;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    z-index: 10;
    transition: bottom 1s;
    div {
        font-size: 1rem;
        p {
            color: var(--secondary-color);
        }
        a {
            svg {
                margin-right: 5px;
                width: 1.5rem;
                height: 1.5rem;
            }
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        a:link,
        a:visited {
            color: var(--secondary-color);
        }
    }
  }