
    #container {

        #content {
            display: none;
            flex-direction: column;
            justify-content: space-around;
            padding-bottom: 3rem;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                padding-bottom: 0;
            }

            article {
                display: flex;
                flex-direction: column;
                
                .checkbox-div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    height: 50px;
                    
                    input[type="checkbox"] {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 0.5rem;
                        background: var(--primary-color);
                        
                        &:checked {
                            background: var(--primary-color);
                        }
                    }
                }
            }
        }

        

        #updateReady {
            position: fixed;
            bottom: -60px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--primary-color);
            width: 100%;
            max-width: 600px;
            border-radius: 10px 10px 0 0;
            border-bottom: 0;
            z-index: 10;
            transition: bottom 1s;
            div {
                font-size: 1rem;
                p {
                    color: var(--secondary-color);
                }
                a {
                    svg {
                        margin-right: 5px;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                }
                a:link,
                a:visited {
                    color: var(--secondary-color);
                }
            }
        }

}