:root {
    --primary-color: #363d70;
    --blue-color: #4855BD;
    --brown-color: #704E41;
    --dark-green: #46702B;
    --green-color: #7BBD51;
    --bg-color: #f0f4fa;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.3rem;
    user-select: none;
    background-color: var(--bg-color);
}